/* ---- General Styles ----*/
*{
  box-sizing:border-box;
}

body{
  background: url('https://orange.codeberryschool.com/content/images/project-assets/wedding-landing-background.png');
  color:#444349;
  background-color:hsla(100,0%,0%,.6);
  font-family: 'Libre Baskerville', serif;
  line-height: 1.5;
  font-size: 1.125rem;
	overflow-x:hidden;

}

h1,h2,h3,
ul,ol,
p,
img {
  margin-bottom: 1.5rem;
}

.locations,
.program,
.gifts,
.faq,
.contact {
  width: 95%;
  margin: 1.5rem auto;
  padding: .5rem 1rem;
  text-align: center;
}

h1,h2{
    font-family: 'Great Vibes', cursive;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 1.5rem;
}

h1{
  font-size:3rem;
  color:#d2ba87;
}

a{
  color:#bd806e;
  text-decoration:none;
}

a:hover {
  color: #eda087;
  transition: color .15s ease-in-out;
}

img{
  width:7rem;
}




/*---- HEADER Styles ------*/


.cover h1{
  display:inline-block;
  margin-bottom:0;
}

.cover{
  background:url('https://orange.codeberryschool.com/content/images/project-assets/wedding-landing-cover.jpg')no-repeat 70% center/cover;
  background-size:cover;
  height:100vh;
  display: table;
  font-family: 'Libre Baskerville', serif;
  color:#fff;
  width:100vw;
  background-attachment: fixed;
}

.hero-text-wrapper{
  display: table-cell;
  vertical-align: middle;
  text-align:center;
}
.hero-text{
  background-color:rgba(27,27,27,.7);
}

.hero-text:first-child{
  padding-top:1rem;
}

.tagline {
  font-size: 1.25rem;
  letter-spacing: .15rem;
}

.tagline::after {
  display: block;
  content: "";
  background-color: #fff;
  height: 1px;
  width: 12.515625rem;
  margin: .5rem auto;
}

.date{
  display:block;
  padding-bottom:1rem;
}

.date::before,
.date::after {
  display: inline-block;
  content: "";
  background-color: #fff;
  height: 1px;
  width: 1.5rem;
  vertical-align: middle;
  margin: 0 .5rem;
}


@media (min-width:768px){
  .cover{
    background:url('https://orange.codeberryschool.com/content/images/project-assets/wedding-landing-cover.jpg')no-repeat center/cover;}
  
  .tagline {
    text-transform:uppercase;
    letter-spacing: .1rem;
  }
  .cover h1{
    font-size:4em;
  }
  
  .hero-text{
    width:50%;
    margin:0 auto;
    padding: 1.25rem;
    border-radius:4px;
}
}


/*------ Location styles  -------*/


.locations{
  font-family: 'Muli', serif;
  font-weight:600;
  font-size:0.9rem;
}

.locations h3{
  font-weight: 600;
  font-size:1.3rem;
}

.locations h2{
  font-size:3rem;
  font-weight:500;
}

.blurb::after {
  display: block;
  content: "";
  background-color: #444349;
  height: 2px;
  width: 5.515625rem;
  margin: 1.5rem auto;
}

@media (min-width:768px){
  
  .blurb{
    /border:1px solid;
    display:inline-block;
    width:30%;
    margin:0 .5rem;
    padding: 1.5rem;
}
  .blurb::after {
      display: none;
  }
}
 

  /*----Programs----*/


.program{
  width: 100vw;
  background-color:rgba(50,50,50,0.7);
  color:#d2ba87;
  font-family: 'Muli', serif;
}

.italic{ /*or program p*/
  font-style:italic;
}

.program-wrapper{
  text-align:left;
  font-weight:600;
}
.program ul{
  letter-spacing: .025rem;
}

@media (min-width:768px){
  .program-wrapper{
    width:30vw;
    margin:0 auto;
  }
}




/*----Gifts ----*/

.gifts p{
  font-weight:600;
}

.gifts p:last-child{
  margin-bottom:0;
}

.gifts{
   
}




/*------ Questions and Answers ------*/



.faq{
    background-color:rgba(50,50,50,0.7);
    color:#d2ba87;
    
    width: 100%;

}

.faq h2{
  margin-top:1rem;
}

.question_group p{
  font-family: 'Muli', serif;
  text-align:left;
}

.question{
  font-weight:700;
    margin-bottom:.5rem;

}
.answer{
  margin-bottom:1.2rem;
}

.question_group::after{
  display:block;
  content:"";
  height:.1875rem;
  background-color: #d2ba87;
  width:8rem;
  margin:1.3rem auto;
}

.question_group p:last-child{
    padding-bottom:0
}

@media (min-width:768px){
  .question_group{
    display:inline-block;
    width:30%;
    padding: 1.5rem;
    margin: .5rem;
    vertical-align:top;
  }
  
  .question_group::after {
      display: none;
  }
}


/*---- Footer styles  ---*/

footer{
  background-color: #606060;
  height:10vh;
  text-align:center;
  font-size:.7rem;
  width:100%;
  color:#fff;
  display:table;
    font-family: 'Muli', sans-serif;

}

.footer-wrapper{
   display:table-cell;
  vertical-align:middle;
   padding: .5rem 1rem;

}

footer p{
  margin-bottom: 0;
}

footer span{
  display:block;
}

footer small{
    line-height: 1.5;
}

@media (min-width: 768px) {

  footer {
    min-height: 7vh;
  }

}
